In [1]:
sent1 = "It is a good practice for us."
sent2 = 'It was also good to know about it.'

In [7]:
from nltk.tokenize import word_tokenize
import pandas as pd

In [9]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [11]:
tfidf = TfidfVectorizer()

In [13]:
x_new =tfidf.fit_transform([sent1, sent2])
x_new.toarray()

array([[0.        , 0.        , 0.44665616, 0.31779954, 0.44665616,
        0.31779954, 0.        , 0.44665616, 0.        , 0.44665616,
        0.        ],
       [0.36439074, 0.36439074, 0.        , 0.25926702, 0.        ,
        0.51853403, 0.36439074, 0.        , 0.36439074, 0.        ,
        0.36439074]])

In [17]:
df = pd.DataFrame(data = x_new.toarray(), columns = tfidf.get_feature_names_out())
df

,about,also,for,good,is,it,know,practice,to,us,was
0,0.000000,0.000000,0.446656,0.317800,0.446656,0.317800,0.000000,0.446656,0.000000,0.446656,0.000000
1,0.364391,0.364391,0.000000,0.259267,0.000000,0.518534,0.364391,0.000000,0.364391,0.000000,0.364391

#### doing from txt file

In [81]:
with open(r"C:\Users\DAI.STUDENTSDC\Desktop\NLP_CV\dataset\untitled.txt", 'r') as f:
    # sent = [line.strip() for line in f]
    sent = f.readlines()

In [97]:
with open(r"C:\Users\DAI.STUDENTSDC\Desktop\NLP_CV\dataset\untitled.txt", 'r') as f1:
    e=f1.read()
eg

'Can you please pass me the salt?\nI will meet you at the park in 30 minutes.\nI need to finish this work before the deadline.\nWhat time does the movie start tonight?\nPlease do not forget to lock the door when you leave.'

In [83]:
sent

['Can you please pass me the salt?\n',
 'I will meet you at the park in 30 minutes.\n',
 'I need to finish this work before the deadline.\n',
 'What time does the movie start tonight?\n',
 'Please do not forget to lock the door when you leave.']

In [85]:
tfidf = TfidfVectorizer()
x_1 = tfidf.fit_transform(sent)

In [87]:
df = pd.DataFrame(data = x_1.toarray(), columns = tfidf.get_feature_names_out())

In [89]:
df

,30,at,before,can,deadline,do,does,door,finish,forget,...,the,this,time,to,tonight,what,when,will,work,you
0,0.000000,0.000000,0.000000,0.433291,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.206465,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.290180
1,0.360948,0.360948,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.171994,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.360948,0.000000,0.241731
2,0.000000,0.000000,0.381303,0.000000,0.381303,0.000000,0.000000,0.000000,0.381303,0.000000,...,0.181693,0.381303,0.000000,0.307633,0.000000,0.000000,0.000000,0.000000,0.381303,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.400736,0.000000,0.000000,0.000000,...,0.190953,0.000000,0.400736,0.000000,0.400736,0.400736,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.333753,0.000000,0.333753,0.000000,0.333753,...,0.159035,0.000000,0.000000,0.269269,0.000000,0.000000,0.333753,0.000000,0.000000,0.223518